@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
:root{
  --primary-color: #00A6FB;
  --income-color: #0582CA;
  --background-color: #051923;
  --text-color: #F7EDE2;
  --line-color: var(--text-color);
  --secondary-text-color: #0C354A; 
}

#root {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5rem;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--background-color);
  color: var(--text-color);
}
/* Sidebar base */
.sidebar {
  width: 250px;
  height: 100vh;
  padding: 1rem;
  border-right: 1px solid var(--line-color);
  transition: width 0.3s ease;
}

/* Collapsed */
.sidebar.collapsed {
  width: 80px;
}

/* Layout */
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Top section */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

/* Links */
.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 8px;
  text-decoration: none;
  color: var(--text-color);
  transition: all ease-in-out 0.2s;
}

.nav-link:hover {
  background: var(--secondary-text-color);
}

/* Active link */
.nav-link.active {
  border: var(--primary-color);
  color: var(--text-color)
}

/* Hide text when collapsed */
.sidebar.collapsed .nav-link span:last-child {
  display: none;
}

/* Center icons when collapsed */
.sidebar.collapsed .nav-link{
  justify-content: center;
}

/* Optional: hide logo text */
.sidebar.collapsed .logo {
  display: none;
}

main {
  padding: 2rem;
}
.nav-link.active {
  border: var(--line-color) 1px solid;
  color: var(--text-color);
}

#collapse-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
}
nav li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}