* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 20px;
}
.text-container p {
    font-size: 18px;
}
.text-container span {
    color: #4A90E2;
    font-weight: bold;
}
.last-three-months-container {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
.last-three-months-container .month-button {
    background-color: transparent;
    border: 1px solid #4A90E2;
    color: #4A90E2;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 190px;
    height: 50px;
    font-size: large;
}
.last-three-months-container .month-button:hover {
    background-color: #4A90E2;
    color: white;
}
.add-transaction-button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}
.add-transaction-button:hover {
    background-color: #357ABD;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.amount-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-bottom: 50px;
}

.amount-card {
    border: 3px solid #ddd;
    border-radius: 20px;
    height: 100px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.total-card {
    background-color: #AAAAAA;
    box-shadow: 0 0 5px 4px rgba(0, 255, 76, 0.21)
}
.income-card {
    border-color: var(--income-color);
    background-color: #168bcf97;
    box-shadow: 0 0 5px 4px rgba(5, 130, 202, 0.25)
}
.expense-card {
    border-color: var(--expense-color);
    background-color: #d3545462;
    box-shadow: 0 0 5px 4px rgba(211, 84, 84, 0.25);
}
.savings-card {
    border-color: var(--green-color);
    background-color: #00FB4B62;
    box-shadow: 0 0 5px 4px rgba(0, 255, 76, 0.25);
}

.graph-chart, .pie-chart {
    border: 3px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 700px;
    width: 100%;
}

.recent-transactions-container{
    border: 3px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    height: 400px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.charts-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.graph-chart,
.pie-chart {
  flex: 1;
  background: var(--background-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}